@model UpdateSliderDto
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">

        <h4 class="card-title">Social Media Hesabı Düzenleme Ekranı</h4>
        <p class="card-subtitle mb-4">
            Social Media Hesabını aşağıdan düzenleyebilirsiniz. Icon Görselleri class alanına <a href="https://fontawesome.com/">fontawesome</a> sitesinden ekleme yapabilirsiniz.
        </p>

        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="Title">Başlık</label>
                <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Başlık giriniz">
            </div>
            <div class="form-group">
                <label for="Description">Açıklama</label>
                <input type="text" class="form-control" id="Description" asp-for="Description" placeholder="Açıklama giriniz">
            </div>
            <div class="form-group">
                <label for="ImageUrl">Fotoğfraf</label>
                <input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl" placeholder="Fotoğraf Seçiniz">
            </div>
            <div class="form-group">
                <label for="PriceUrl">Fiyat Fotoğrafı</label>
                <input type="text" class="form-control" id="PriceUrl" asp-for="PriceUrl" placeholder="Fiyat fotoğrafı giriniz">
            </div>
            <div class="form-group">
                <label for="Href">Active</label>
                <input type="text" class="form-control" id="Href" asp-for="Active" placeholder="sadece bir kayıt için active olacak diğer kayıtlar için boş geçilecek">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light btnConfirm">Güncelle</button>
        </form>

    </div> <!-- end card-body-->
</div>

