@model UpdateSliderDto
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">

        <h4 class="card-title">Social Media Hesabı Düzenleme Ekranı</h4>
        <p class="card-subtitle mb-4">
            Social Media Hesabını aşağıdan düzenleyebilirsiniz. Icon Görselleri class alanına <a href="https://fontawesome.com/">fontawesome</a> sitesinden ekleme yapabilirsiniz.
        </p>

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="Title">Başlık</label>
                <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Başlık giriniz">
            </div>
            <div class="form-group">
                <label for="Description">Açıklama</label>
                <input type="text" class="form-control" id="Description" asp-for="Description" placeholder="Açıklama giriniz">
            </div>

            <div class="form-group">
                <label for="ProductImageFile">Fotoğraf</label>
                <input type="file" class="form-control" id="ProductImageFile" asp-for="ProductImageFile"  accept=".jpg, .jpeg, .png" onchange="previewImageProduct(this)">
            </div>

            <div class="form-group">
                <label for="ImageUrl">Ürün Fotoğrafı</label>
                <img id="ImageUrlPreviewProduct" src="~/SliderPhoto/@Model.ImageUrl" class="form-control" style="width:200px;height:200px">
            </div>


            <div class="form-group">
                <label for="PriceImageFile">Fiyat Fotoğrafı</label>
                <input type="file" class="form-control" id="PriceImageFile" asp-for="PriceImageFile" accept=".jpg, .jpeg, .png" onchange="previewImagePrice(this)">
            </div>
            <div class="form-group">
                <label for="PriceUrl">Fiyat Fotoğrafı</label>
                <img id="ImageUrlPreviewPrice" src="~/SliderPhoto/@Model.PriceUrl" class="form-control" style="width:200px;height:200px">
            </div>

            <div class="form-group">
                <label for="Href">Active</label>
                <input type="text" class="form-control" id="Href" asp-for="Active" placeholder="sadece bir kayıt için active olacak diğer kayıtlar için boş geçilecek">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light btnConfirm">Güncelle</button>
        </form>

    </div> <!-- end card-body-->
</div>


<script>
    function previewImageProduct(input) {
        console.log("a");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImageUrlPreviewProduct').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function previewImagePrice(input) {
        console.log("a");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImageUrlPreviewPrice').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>