@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Yeni Social Media Girişi</h4>
        <p class="card-subtitle mb-4">
            Yeni Social Media Hesap bilgilerini aşağıda girdikten sonra kaydedebilirsiniz. Icon Görselleri için class alanına <a href="https://fontawesome.com/">fontawesome</a> sitesinden ekleme yapabilirsiniz.
        </p>

        <form method="post">
            <div class="form-group">
                <label for="IconClass">Icon Class</label>
                <input type="text" class="form-control" id="IconClass" asp-for="IconClass" placeholder="Icon Class'ı giriniz">
            </div>
            <div class="form-group">
                <label for="Href">Link</label>
                <input type="text" class="form-control" id="Href" asp-for="Href" placeholder="Linki giriniz">
            </div>
  
            <button type="submit" class="btn btn-primary waves-effect waves-light btnConfirm">Social Media Hesabını Kaydet</button>
        </form>

    </div> <!-- end card-body-->
</div>


