@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Yeni Hakkımızda Girişi</h4>
        <p class="card-subtitle mb-4">
            Birden fazla ekleyebilirsiniz ama hakkımızda sayfasını kontrol etmeyi unutmayınız
        </p>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Title">Başlık</label>
                <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Başlığı giriniz">
            </div>
            
            <div class="form-group">
                <label for="ImageFile">Hakkımızda Fotoğrafı</label>
                <input type="file" class="form-control" id="ImageFile" asp-for="ImageFile" accept=".jpg, .jpeg, .png" onchange="previewImage(this)">
            </div>
            <div class="form-group">
                <label for="ImageUrl">Hakkımızda Fotoğrafı</label>
                <img id="ImageUrlPreview" class="form-control" style="width:200px;height:200px">
            </div>
            <div class="form-group">
                <label for="Description">Açıklama</label>
                <textarea class="form-control" id="ckeditor" name="Description" asp-for="Description" placeholder="Açıklama giriniz"></textarea>
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light btnConfirm">Hakkımızdayı Kaydet</button>
        </form>

    </div> <!-- end card-body-->
</div>

<script>
    function previewImage(input) {
        console.log("a");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImageUrlPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

