@model CreateUserDto
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Yeni Kullanıcı Girişi</h4>
        <p class="card-subtitle mb-4">
            Yeni kullanıcı girişini gerçekleştirebilirsiniz. Unutmayınız ki şifreleriniz kriptolanarak depolanmaktadır.
        </p>

        <form method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" asp-for="Email" placeholder="Mail giriniz">
            </div><div class="form-group">
                <label for="Password">Parola</label>
                <input type="text" class="form-control" id="Password" asp-for="Password" placeholder="Parola giriniz">
            </div>
            <div class="form-group">
                <label for="FullName">Ad ve Soyad</label>
                <input type="text" class="form-control" id="FullName" asp-for="FullName" placeholder="Ad ve Soyad giriniz">
            </div>


            <button type="submit" class="btn btn-primary waves-effect waves-light btnConfirm">Kullanıcıyı Kaydet</button>
        </form>

    </div> <!-- end card-body-->
</div>

